html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}
ul {
  list-style: none;
}
body {
  font-family: "Inter", sans-serif;
  color: var(--color-brand-dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
:root {
  --color-brand-dark: #000;
  --color-brand-white: #ffff;
  --color-brand-grey: #777;
  --color-brand-light: #fafafa;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.main-title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* Header */

.header {
  position: relative;
  min-height: 100vh;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 0 40px;
  font-weight: 700;
}

.header__btn {
  border-radius: 30px;
  padding: 15px 58px;
  background-color: #000;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-brand-white);
}
.header__content-img {
  text-align: center;
  padding-bottom: 50px;
}
.header__content-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -2;
}
.header__content-img:has(.color--blue.content-item--active)::before {
  background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
}
.header__content-img:has(.color--green.content-item--active)::before {
  background: linear-gradient(180deg, #ddead9 0%, rgba(235, 235, 235, 0) 100%);
}
.header__content-img:has(.color--black.content-item--active)::before {
  background: linear-gradient(180deg, #b6b6b6 0%, rgba(235, 235, 235, 0) 100%);
}
.header__content-img:has(.color--silver.content-item--active)::before {
  background: linear-gradient(180deg, #fafafa 0%, rgba(235, 235, 235, 0) 100%);
}
.header__content-img:has(.color--red.content-item--active)::before {
  background: linear-gradient(180deg, #f3d6d1 0%, rgba(235, 235, 235, 0) 100%);
}
.content__title {
  font-size: 210px;
  font-weight: 700;
  position: absolute;
  padding-top: 110px;
}
.content-item {
  display: none;
}
.content-item.content-item--active {
  display: inline-block;
}
.title--pod {
  position: relative;
  z-index: -1;
}
.title--s {
  display: inline-block;
  transform: translateY(120px);
}
.title--m {
  display: inline-block;
  transform: translate(-57px, 275px);
}
.title--ax {
  display: inline-block;
  transform: translate(-128px, 413px);
  z-index: -1;
  position: relative;
}

/* Section-Choose */
.section-choose {
  padding: 45px 0 180px;
  text-align: center;
}
.section-choose__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto 20px;
  max-width: 557px;
}
.section-choose__content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  margin: 0 auto 82px;
  text-align: center;
  max-width: 557px;
}
.section-choose__options {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.section-choose__btn {
  border-radius: 20px;
  border: 1px solid var(--color-brand-grey);
  padding: 50px 55px;
}
.choose-color__btn--active {
  display: none;
}
/* Section-Composition */

.section-composition {
  margin-bottom: 180px;
}
.section-compasition__title {
  text-align: center;
}

.section-composition__text {
  text-align: center;
  max-width: 654px;
  margin: 0 auto 40px;
}
.composition-inner {
  max-width: 625px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.composition-inner__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* чтобы в случае добовления контента,текст не слипался */
  gap: 15px;
}
.composition-inner__text p {
  width: 230px;
}

/* Section-Aircase */
.section-aircase {
  background-color: var(--color-brand-light);
  padding: 80px 0 100px;
  text-align: center;
}
.section-aircase__text p {
  max-width: 825px;
  margin: 0 auto 40px;
}

.energy__title {
  padding-top: 160px;
  margin-bottom: 40px;
}
.energy__num p {
  font-size: 210px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 40px;
}
.energy__text p {
  max-width: 400px;
  margin: 0 auto;
}
/* Section-audio */
.section-audio {
  /* position: relative; */
  background-image: url("../img/audio-full.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/* КАРТИНКА+ВОЛНЫ ЗВУКА  */
/* .section-audio::before {
  content: "";
  background-image: url("../img/audio-man.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.section-audio::after {
  content: "";
  position: absolute;
  background-image: url("../img/sound.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  bottom: -250px;
  width: 100%;
  height: 150vh;
  left: 0;
  right: 0;
  z-index: -1;
} */
.section-audio__inner {
  min-height: 220vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.section-audio__box {
  color: #fff;
  text-align: center;
  padding-bottom: 50vh;
}
.section-audio__text {
  width: 300px;
  margin-bottom: 10px;
}
.btn {
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 15px 58px;
  border-radius: 30px;
  margin-top: 25px;
}
/* Footer */
.footer {
  /* position: relative;
  z-index: -2; */
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding: 50px 0 40px;
}
.footer__text {
  padding: 20px 0;
}
.footer__list {
  padding: 80px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Media */
@media (max-width: 1469px) {
  .header__content-img img {
    max-width: 100%;
  }
  .title {
    font-size: 11.25rem;
    transform: translate(129px, 29px);
  }
  .section-choose__options {
    flex-wrap: wrap;
  }
}
@media (max-width: 1349px) {
  .title {
    font-size: 140px;
    text-align: center;
    transform: none;
    left: 0;
    right: 0;
    padding-top: 20vh;
  }
  .title--pod {
    z-index: 1;
  }
  .title--s {
    transform: none;
  }
  .title--m {
    transform: none;
  }
  .title--ax {
    transform: none;
  }
}
@media (max-width: 900px) {
  .title {
    position: relative;
    font-size: 100px;
    padding-top: 0;
  }
  .title--m {
    padding-left: 0.9375rem;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 58px;
  }
  .section-choose {
    padding-bottom: 3.75rem;
  }
  .section-choose__options {
    gap: 1rem;
  }
  .main-title {
    font-size: 36px;
  }
  .section-composition {
    margin-bottom: 3.75rem;
  }
  .section-aircase {
    padding: 3.75rem 0;
  }
  .energy__title {
    padding-top: 3.75rem;
    margin-bottom: 1.25rem;
  }
  .energy__num p {
    font-size: 110px;
    margin-bottom: 1.25rem;
  }
  .section-audio__inner {
display:none;
}
}
@media (max-width: 560px) {
  .section-choose__content {
    margin-bottom: 2.5rem;
  }
  .section-choose {
    padding-bottom: 2.5rem;
  }
  .section-aircase {
    padding: 2.5rem 0;
  }
  .composition-inner {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
  }
  .composition-inner__text p {
    width: 100%;
  }
  .header__list {
    flex-wrap: wrap;
    gap: 20px 40px;
  }
  .header__btn {
    width: 250px;
  }
  .header__item-btn {
    margin-left: auto;
    margin-bottom: 0.9375rem;
  }
  .header__item:first-child {
    margin-left: auto;
  }
  .header__top {
    align-items: flex-start;
  }
}
@media (max-width: 414px) {
  .main-title,
  .section-choose__title {
    font-size: 28px;
  }
  .energy__num p {
    font-size: 92px;
  }
  .section-aircase img {
    max-width: 100%;
  }
}
@media (max-width: 404px) {
  .title {
    font-size: 50px;
  }
}
